<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

    <title>AdCreative.ai Case</title>
</head>
<body class="container text-center">
    <div class="text-center">
        <h1>Ana Sayfa</h1>

        <form action="/submit" method="post" enctype="multipart/form-data" class="mt-5">
            <button class="btn btn-danger"><a href="get_istegi">GET İSTEĞİ</a></button>
            <div class="form-group">
                <label for="image">Resim Yükle</label>
                <div class="custom-file">
                    <input type="file" name="image" accept="image/*" class="custom-file-input">
                    <label class="custom-file-label" for="image">Dosya seç</label>
                </div>
            </div>

            <div class="form-group">
                <label for="promt">Promt</label>
                <input type="text" name="promt" class="form-control Whiteboard">
            </div>

            <div class="form-group">
                <label for="logo">Logo Yükle</label>
                <div class="custom-file">
                    <input type="file" name="logo" accept="image/*" class="custom-file-input">
                    <label class="custom-file-label" for="logo">Dosya seç</label>
                </div>
            </div>

            <div class="form-group">
                <label for="color">Renk Seçici (Hex Kodu)</label>
                <input type="color" name="color" class="form-control">
            </div>

            <div class="form-group">
                <label for="punchline">Punchline</label>
                <textarea name="punchline" rows="2" cols="50" class="form-control Whiteboard"></textarea>
            </div>

            <div class="form-group">
                <label for="button_text">Button Text</label>
                <input type="text" name="button_text" class="form-control Whiteboard">
            </div>

            <button type="submit" class="btn btn-primary">Oluştur</button>
        </form>

        {% if result_image %}
            <img src="data:image/jpeg;base64,{{ result_image }}" alt="Sonuç Resmi" class="mt-5">
        {% endif %}
    </div>
</body>
</html>
